/* 
 * Main CSS File here
*/
	/* 
	*	Use for example boxes that hold code examples 
	*/
	.codeBlock {
		text-align:center;
		border:1px solid black;
		display:inline-block;
	}
	
	/* 
	*	Use for the content block on every page
	*/
	.content {
		border:3px solid black;
		border-radius:5px;
		font-family:cursive;
		width:100%;
		display:inline-block;
		text-align:center;
	}
	
	/* 
	*	Use for the basic footer on every page
	*/
	.footer {
		text-align:center;
		display:block;
		width:100%;
		border:1px solid black;
		border-radius:25px;
		margin-top: 2%;
		float:left;
	}
	
	/* 
	*	Use for info boxes that hold things like example code
	*/
	.infoBox {
		display:block;
		text-align:center;
		width:90%;
		float:left;
		margin-top: 1%;
		margin-bottom: 1%;
		padding-left:5%;
		padding-right:5%;
	}
	
	/* 
	*	Use for each individual link in the navbar
	*/
	.link {
		text-align: center;
		display: inline-block;
		margin-left:2%;
		margin-right:2%;
	}

	/* 
	*	Use for the basic container that holds navbar on every page
	*/
	.nav {
        width: 100%;
		display:block;
		height:15px;
		margin-top:1%;
		margin-bottom:3%;
		text-align:center;
    }
